<div id="work" class="page">
  <section class="content">
    <header class="section-heading">
      <h1>Work</h1>
    </header>

    <ol class="photo-list clearfix">
      <li>
        <span class="client">Kauia Juice Co</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS/Shopify
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/kauai-1-m.jpg" alt="Kauai Juice Co screenshot" />
        <img src="http://ccrissman.s3.amazonaws.com/images/m/kauai-2-m.jpg" alt="Kauai Juice Co screenshot" />
      </li>
      <li>
        <span class="client">Ada Developers Academy</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/ada-1-m.jpg" alt="Ada screenshot" />
        <img src="http://ccrissman.s3.amazonaws.com/images/m/ada-2-m.jpg" alt="Ada screenshot" />
      </li>
      <li>
        <span class="client">DueProps</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-signin.jpg" alt="DueProps screenshot" />
        <img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-profile.jpg" alt="DueProps screenshot" />
      </li>
      <li>
        <span class="client">Yellowpages</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          Design, HTML/CSS/JS
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/yp-litehp.png" alt="Yellowpages screenshot" />
        <img src="http://ccrissman.s3.amazonaws.com/images/m/yp-hp.jpg" alt="Yellowpages screenshot" />
      </li>
      <li>
        <span class="client">Buzz.com</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-feed.png" alt="Buzz screenshot" />
        <img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-srp.jpg" alt="Buzz screenshot" />
      </li>
      <li>
        <span class="client">RollCallMe</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <img src="http://ccrissman.s3.amazonaws.com/images/m/rollcallme.jpg" alt="RollCallMe screenshot" />
      </li>
    </ol>
  </section>

</div>  <!-- end work -->
