<section id="resume" class="page">
  <div class="content clearfix">

    <header class="section-heading">
      <h1>Experience</h1>
    </header>

    <section class="experience">
      <ol>
        <li>
          <hgroup>
            <h3 class="sub-heading">RealPage, Inc.</h3>
            <h4>Software Engineer</h4>
          </hgroup>

          <p class="dates">2022&ndash;Present</p>
        </li>
        <li>
          <hgroup>
            <h3 class="sub-heading">G5</h3>
            <h4>Front-End Developer</h4>
          </hgroup>

          <p class="dates">2012&ndash;2022</p>

          <p class="description">I worked as a lead front-end developer at <a href="http://getg5.com">G5 until they were bought out by RealPage, Inc. in 2022</a>. I have built numereous themes and widgets used by our clients in our custom built cms. I've gained experience with Vue, Ember, GraphQL, and Rails</p>
          <p class="description">Working remotely, I've also learned to communicate effectively through collaboration and video apps.</p>
        </li>
        <li>
          <hgroup>
            <h3 class="sub-heading">AT<span class="amp">&amp;</span>T Interactive</h3>
            <h4>Front-End Developer</h4>
          </hgroup>

          <p class="dates">2009&ndash;2012</p>

          <p class="description">I mainly worked on the <a href="http://www.yp.com">YP.com</a> site, converting comps from Photoshop into HTML and CSS. Features in which I was the lead front-end developer include menu popups, error pages, search filters, and the deal of the day widget. I also had significant input into the design and implementation of a new user-focused home page and the recommendation widget on the restaurant search results page. My favorite project was a responsive search results page I created for a company hackathon.</p>
          <p class="description">I was part of three iterations of buzz.com. We converted comps into code and offered as much input as we could. We used lean HTML5 and CSS3 to create a light and fast site along with media queries to adjust the design for smaller screens.</p>
          <p class="description">Other duties include a redesign of anywho.com, support of <a href="http://www.atti.com">atti.com</a>, and design/front-end work on various internal apps.</p>
        </li>

        <li>
          <hgroup>
            <h3 class="sub-heading">Myself</h3>
            <h4>Front-End Developer and Designer</h4>
          </hgroup>

          <p class="description">I most recently created the Shopify store for <a href="https://www.kauaijuiceco.com">Kauai Juice Co.</a> This involved creating a custom theme and setting up the store.</p>

          <p class="description">Other projects include building the sites for <a href="https://adadevelopersacademy.org">Ada Developers Academy</a> and <a href="http://vektra.com">Vektra</a>. Both are fully responsive and included writing all of the HTML, CSS, and Javascript</p>
        </li>

        <li>
          <hgroup>
            <h3 class="sub-heading">DueProps</h3>
            <h4>Front-End Developer</h4>
          </hgroup>

          <p class="dates">2010&ndash;2012</p>

          <p class="description">Working with a small, agile team, I was the lead front-end developer for <a href="http://www.dueprops.com">dueprops.com</a>. DueProps is a peer recognition game for workplaces. My duties were a mix of converting comps into code and giving design input. It was challenging, but rewarding working with such a detailed design. One of my favorite accomplishments is the parallax on the <a href="http://dueprops.com/users/sign_in">sign-in page</a>.</p>
        </li>

      </ol>
    </section> <!-- end experience -->

    <section class="skills">
      <h2 class="sub-heading">Skills</h2>
      <ul class="skills-list">
        <li>HTML & CSS</li>
        <li>Javascript & Vue</li>
        <li>Ruby on Rails</li>
        <li>Shopify</li>
        <li>Problem Solving</li>
        <li>Working Remotely</li>
        <li>Drums</li>
      </ul>
      <!-- <dl "skills-list">
        <dt>HTML <span class="amp">&amp;</span> CSS</dt>
        <dd>My specialty. I love writing organized HTML and lean CSS</dd>

        <dt>Javascript <span class="amp">&amp;</span> jQuery</dt>
        <dd>An evolving skill and one that I&rsquo;m using in most projects these days.</dd>

        <dt>Ruby on Rails</dt>
        <dd>I&rsquo;m not a back-end developer but know enough to get around.</dd>

        <dt>Git</dt>
        <dd>Version control is part of my daily workflow. I&rsquo;m more competent in Git but have used Subversion.</dd>

        <dt>Web Standards</dt>
        <dd>Following web standards allows me to write clean and maintainable code that will work across multiple browsers.</dd>

        <dt>Semantic Markup</dt>
        <dd>Use the right markup for the content. This makes the content more accessible and the code easier to read.</dd>

        <dt>Photoshop</dt>
        <dd>My main tool for creating/slicing up comps and optimizing images.</dd>
      </dl> -->
    </section> <!-- end skills  -->

  </div> <!-- end content -->
</section>  <!-- end resume -->
